{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_html %}Edit{% endblock %}
{% block navtitle %}Edit {% endblock %}
{% block button %} <a href="{% url 'home' %}" class="btn custom-outline" style="color: #AAB6A2;">Home</a>{% endblock %}
{% block content %}
<h1 class="mt-5"></h1>
<div class="container w-50 bg-white border border-2 border-danger mt-5 px-5 pb-5 pt-5 mb-5">

    <form method="POST" enctype="multipart/form-data">
        <h2 class="text-center text-danger">Edit book</h2>
        {% csrf_token %}
        {{form|crispy}}

        <div class="mb-3">
        <input type="submit" class="btn btn-danger">
        </div>
    </form>

</div>
{% endblock %}